
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>nick name :</strong>
  <%= @profile.nickname %>
</p>

<p>
  <strong>年龄:</strong>
  <%= @profile.age %>
</p>
  <p>
    <strong>性别:</strong>
    <%= @profile.gender %>
  </p>
  <p>
    <strong>生日:</strong>
    <%= @profile.birthday %>
  </p>

<%= link_to 'Edit', edit_profile_path(@profile) %>

 </div>