<div class="container">
<h1>上传文件</h1>

<div class="row">
  <div class = "span6 offset3">
    <%= form_for @attachment,  html: {:multipart => true} do |f| %>
        <%= f.label "文件名" %>
        <%= f.text_field :title %><br/>
        <p>
        <%= f.label "文件类别" %>
        <%= f.text_field :attachment_category %><br/>
        </p>
        <p>
        <%= f.file_field :link      %>
        <%= f.submit "上传文件",class: "btn btn-large btn-primary" %>
        </p>
    <% end %>
</div>
</div>
</div>